@charset "UTF-8";
body {
  background-color: gray;
}

.wraper_page_test {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.wraper_ol {
  margin-top: 5px;
  width: 60%;
}

.wraper_ol ol {
  list-style-type: none;
  counter-reset: item;
}

.wraper_ol ol li:before {
  counter-increment: item;
  /* Задаём имя счетчика */
  content: counter(item) ") ";
  /* Добавляем к числам скобку */
}

.out {
  position: fixed;
  top: 50%;
  right: 5%;
  width: 30%;
}
